<ul class="icons">
  <!--<li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
  <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>-->
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://scholar.google.com/citations?user=B-4hnbwAAAAJ&hl=en" class="ai ai-google-scholar" rel="nofollow"><span class="label"></span></a></li>
  <li><a href="https://www.researchgate.net/profile/{{site.researchgate}}" class="ai ai-researchgate" rel="nofollow" text-decoration="none"><span class="label"></span></a></li>
  <li><a href="https://orcid.org/{{site.orcid}}" class="ai ai-orcid" rel="nofollow" text-decoration="none"><span class="label"></span></a></li>
</ul>
